<%= form_with(model: resource, local: true) do |form| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :grade_level %>
    <%= form.select(:grade_level, raw('<option>0</option><option>1</option><option>2</option><option>3</option>
                                        <option>4</option><option>5</<option><option>6</option><option>7</option>
                                        <option>8</option><option>9</option><option>10</option><option>11</option>
                                        <option>12</option>')) %>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.select(:subject, raw('<option>Art</option><option>English/Language Arts</option>
                                        <option>History</option><option>Math</option>
                                        <option>Music</option><option>Science</<option>
                                        <option>World Languages</option><option>Social Sciences</option>
                                        <option>Information Technology</option><option">Electives</option>
                                        <option">Health and P.E.</option>')) %>
  </div>

  <div class="field bg-white">
    <%= form.label :assignment %>
    <%= form.rich_text_area :assignment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
