<%= form_with(model: resource, local: true) do |form| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :grade_level %>
    <%= form.select(:grade_level, raw('<option value="1">0</option><option value="2">1</option>
                                        <option value="3">2</option><option value="4">3</option>
                                        <option value="5">4</option><option value="6">5</<option>
                                        <option value="7">6</option><option value="8">7</option>
                                        <option value="9">8</option><option value="10">9</option>
                                        <option value="11">10</option><option value="12">11</option>
                                        <option value="13">12</option>')) %>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.select(:subject, raw('<option>Art</option><option>English/Language Arts</option>
                                        <option>History</option><option>Math</option>
                                        <option>Music</option><option>Science</<option>
                                        <option>World Languages</option><option>Social Sciences</option>
                                        <option>Information Technology</option><option">Electives</option>
                                        <option">Health and P.E.</option>')) %>
  </div>

  <div class="field">
    <%= form.label :assignment %>
    <%= form.text_area :assignment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
