<div class="table-responsive msg-bg">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Teacher</th>
        <th>Grade level</th>
        <th>Subject</th>
        <th>Messages</th>
        <th>Date Created</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @resources.each do |r| %>
        <tr>
          <tr class="table-row" onclick=location.href='<%= resource_path(r) %>'>
            <td><%= r.user.name %></td>
            <td><%= r.grade_level %></td>
            <td><%= r.subject %></td>
            <td><%= r.messages.count%></td>
            <td><%= r.created_at.to_date.to_formatted_s(:long_ordinal) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
