<div class="panel panel-default">
  <h1>Resource</h1>
  <div class="container">
    <h3><strong>Grade Level:</strong> <i><%= @resource.grade_level %></i></h3>
    <h3><strong>Subject:</strong> <i><%= @resource.subject %></i></h3>
    <h3><strong>Assignment:</strong> <i><%= @resource.assignment %></i></h3>
    <h3><strong>Created By:</strong> <i><%= @resource.user.name %></i></h3>
    <h3><strong>Time Created:</strong> <i><%= time_ago_in_words(@resource.created_at) %> ago</i></h3>
  </div>

  <br />
  <div class="container">
  <h3>Messages</h3>
    <% if @messages.blank? %>
      <h5><i>No messages relating to this Resource.</i></h5>
      <% if @resource.user_id == current_user.id %>
      <div class="links btn-group">
        <%= link_to 'New Message', new_resource_message_path(@resource) %>
      </div>
      <% end %>
    <% else %>
      <%= render '/messages/messageTable' %>
    <% end %>
    <div class="links btn-group">
      <% if @resource.user_id == current_user.id %>
        <%= link_to 'Edit Resource', edit_resource_path(@resource) %> |
        <%= link_to 'Delete Resource', @resource, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
</div>
