<div class="panel panel-default">
  <div class="panel-body">
    <div class="row mw-100">
      <div class="col">
        <h1>Resource</h1>
        <div class="container">
          <h5><strong>Grade Level:</strong> <i><%= @resource.grade_level %></i></h5>
          <h5><strong>Subject:</strong> <i><%= @resource.subject %></i></h5>
          <h5><strong>Created By:</strong> <i><%= @resource.user.name %></i></h5>
          <h5><strong>Time Created:</strong> <i><%= time_ago_in_words(@resource.created_at) %> ago</i></h5>
          <h5><strong>Assignment:</strong></h5>
          <div class="scrollable msg-bg" >
            <br /><p> <i><%= @resource.assignment %></i></p>
          </div>
          
        </div>
      </div>

      <br />
      <div class="w-10 msg-bg">
        <h3>Messages</h3>
          <% if @messages.blank? %>
            <h5><i>No messages relating to this Resource.</i></h5>
            <% if @resource.user_id == current_user.id %>
            <div class="links btn-group">
              <%= link_to 'New Message', new_resource_message_path(@resource) %>
            </div>
            <% end %>
          <% else %>
            <div class="container">
              <%= render '/messages/messageTable' %>
            </div>
          <% end %>
      </div>
    </div>
    <div class="links btn-group">
      <% if @resource.user_id == current_user.id %>
        <%= link_to 'Edit Resource', edit_resource_path(@resource) %> |
        <%= link_to 'Delete Resource', @resource, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
</div>
